.Portfolio {
    background-color: #E8DDD9;

}

.PortfolioAnimation {
    width: 250px;
    left: 1700px;
    /* bottom: 250px; */
    position: relative;
}

.SectionTitle{
    color: #FF9A75;
    font-weight: 600;
    font-size: 35px;
    padding: 20px;
}