.Portfolio {
    background-color: #1F1F1F;
    background-image: url(../../Assets/SVG/Asset\ 13-nobg.svg);
    background-position: left 90% bottom 10px;
    background-size: 30%;
    background-repeat: no-repeat;
    padding-bottom: 250px;
}

.SectionTitle{
    color: #FF4500;
    font-weight: 600;
    font-size: 35px;
    padding-left: 150px;
    opacity: 0.3;
    margin: 0;
}


@media(max-width:720px){

    .Portfolio{
        padding-bottom: 100px;
        background-size: 65%;
    }

    .SectionTitle{
        font-size: 20px;
        margin: auto;
        padding-left: 20px;
    }
}