.PrimaryCTA {
    border: 2px solid #FF4500;
    border-radius: 2px;
    width: 120px;
    height : 45px;
    background-color: transparent;
    margin: 10px 10px 10px 0;
    color: #FF4500;
    opacity: 87%;
    transition: all 0.8s ease-out;
}

.PrimaryCTA:hover{
    border: none;
    background-color: #FF4500;
    color: #FFF;
    border-radius: 5px 25px 5px 5px;
}

a{
    text-decoration: none;
}

@media(max-width: 1280px){
    .PrimaryCTA{
        width: 90px;
        height: 30px;
        font-size: 12px;
        margin: 5px 5px 5px 0;
    }
}


@media(max-width: 480px){
    .PrimaryCTA{
        width: 75px;
        height: 30px;
        font-size: 11px;
    }
}