.PrimaryCTA {
    border: none;
    border-radius: 50px;
    width: 120px;
    height : 45px;
    background-color: #FF4500;
    margin: 10px 10px 10px 0;
    color: #FFF;
    transition: all 0.5s ease-out;
}

.PrimaryCTA:hover{
    border: 2px solid #FF4500;
    background-color: transparent;
    color: #FF4500;
}