.Work {
    /* height: 100vh; */
    background-color: #121212;
    background-image: url(../../Assets//SVG//Asset\ 11.svg);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: left 80%;
}

.SectionTitle{
    color: #FF4500;
    font-weight: 600;
    font-size: 32px;
    padding-left: 150px;
    opacity: 30%;
    margin: 0;
}

/* 
.WorkAnimation {
    width: 30%;
    max-width: 600px;
    position: relative;
    left: 65%;
    /* top: 1; */
/*  */

a{
    color: #FFF;
    font-weight: 800;
    opacity: 100%;
    /* text-decoration: underline; */
}

.WorkExperiences{
    /* margin: 50px; */
    padding: 110px;
}

.WorkExperience{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    flex-direction: row;
    color: #FFF;
    opacity: 60%;
    width: 900px;
    margin: auto;
    font-size: 20px;
}

.WorkTimelineIndicator{
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    /* width: 50px; */
    /* padding: 20px; */
}

.line{
    width: 1px;
    height: 220px;
    background-color: #FF4500;
    margin: 15px auto;
    /* margin: 50px; */
    /* float: right; */
}

.TimeIndicator {
    width: 10px;
    height: 10px;
    border: 1px solid #FF4500;
    opacity: 38%;
    border-radius: 50%;
    /* position: relative;
    left: 50%;
    right: 50%; */
}

.TimeIndicator02 {
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
    background-color: #FF4500;
    /* position: relative;
    left: 50%;
    right: 50%; */
}

.WorkExperience02{
    margin-top: 240px;
}

.WorkExperienceTitle{
    color: #FFF;
    opacity: 87%;
    font-size: 35px;
    font-weight: 600;
}

.WorkExperienceDescription{
    /* width: 200px; */
    opacity: 60%;
    font-size: 19px;
}