.Work {
    height: 100vh;
    background-color: #121212;
}

.SectionTitle{
    color: #FF4500;
    font-weight: 600;
    font-size: 35px;
    padding-left: 150px;
    opacity: 30%;
    margin: 0;
}

.WorkAnimation {
    width: 600px;
    position: relative;
    left: 65%;
    top: 250px;
}

.WorkExperiences{
    
}

.WorkExperience{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #FFF;
    opacity: 60%;
    width: 900px;
    margin: auto;
    font-size: 20px;
}