.About {
    height: 100vh;
    background-color: #1F1F1F;
}

.AboutContent {
    width: 500px;
    padding: 50px;
    margin: auto;
}

.AboutImage{
    display: block;
    background: #000;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 30px auto;
}

.AboutDescription{
    color: #FFF;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: auto;
    opacity: 87%;
}

.AboutAnimation{
    width: 300px;
    padding: 0 0 0 30px;
}

