.ContactButton{
    border-radius: 2px;
    background-color: transparent;
    height: 45px;
    width: 500px;
    border: 2px solid #FF9A75;
    opacity: 60%;
    margin: auto;
    transition: all 0.8s ease-out;
}

.ContactButton:hover{
    border: none;
    border-radius: 0 50px 0 0;
    background-color: #FF9A75;
}