.ContactButtons{
    display: flex;
    flex-direction: row;
    margin: auto;
}

.ContactButton{
    /* display: grid;
    grid-row: auto; */
    border-radius: 3px;
    background-color: transparent;
    height: 45px;
    width: 100%;
    border: 1px solid #FF4500;
    opacity: 60%;
    margin: auto;
    transition: all 0.8s ease-out;
    font-size: 20px;
    font-weight: 500;
    color:  #FF4500;
}



.ContactButton:hover{
    border: none;
    border-radius: 5px 25px 5px 5px;
    background-color: #FF4500 ;
    color: #FFF;
    
}

a{
    text-decoration: none;
}

@media(max-width:720px){
    .ContactButtons{
        width: 80%;
    }

    .ContactButton{
        /* width: 200px; */
        height:30px;
        font-size: 15px;
    }
}

@media(max-width:480px){
    .ContactButton{
        font-size: 12px;
    }
}