span {
    display: block;
    margin-bottom: 10px;
}

.Home {
    background-color: #121212;
    height: 90vh;
    max-height: 1920px;
    background-image: url('../../Assets//SVG//Asset\ 10.svg');
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: left 85% bottom 50%;
}

.Introduction {
    width : 30%;
    position: absolute;
    top: 30%;
    left: 8%;
}

.NamePre {
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    opacity: 38%;
}

.Name {
    font-size: 80px;
    color: #FFf;
    opacity: 87%;
    font-weight: bold;
}

.ShortDescription {
    color: #FF4500;
    opacity: 60%;
    font-size: 35px;
    font-weight: 650;
}

.LongDescription{
    color : #FFF;
    width: 70%;
    opacity: 60%;
    text-align: left;
    font-size: 20px;
}

.HomeAnimation {
    max-width: 700px;
    min-width: 200px;
    width: 40%;
    position: absolute;
    bottom: 15%;
    left: 60%;
}

.TextBackground {
    z-index: 0;
    font-size: 350px;
    font-weight: bolder;
    color: #E5E1E0;
    position: relative;
    top: 50%;
}

@media(max-height:1000px){
    .Home{
        /* height: 75vh; */
    }
}

@media(max-width:1280px){
    .Home{
        background-size: 40%;
    }

    .Introduction{
        width: 40%;
        /* margin-bottom: 70px; */
    }

    .NamePre{
        font-size: 15px;
    }

    .Name{
        font-size: 50px;
    }

    .ShortDescription{
        font-size: 25px;
    }

    .LongDescription{
        font-size: 18px;
        width: 90%;
        /* margin: 70px; */
    }

    @media(max-width:720px){
        .Home{
            background-image: url(../../Assets/SVG//Asset\ 10-nobg.svg);
            background-size: 60%;
            background-position: right 80% bottom 20%;
        }

        /* .Introduction{
            width: 60%;
        } */
    }

    @media(max-width:480px){
        .Home{
            /* background-image: url(../../Assets/SVG//Asset\ 10-nobg.svg); */
            background-position:  left 100% bottom 2%;
            background-size: 85%;
        }

        .Introduction{
            width: 80%;
            top: 25%;
        }

        .NamePre{
            font-size: 10px;
        }

        .Name{
            font-size: 32px;
        }

        .ShortDescription{
            font-size: 18px;
        }

        .LongDescription{
            font-size: 14px;
        }
    }
}