span {
    display: block;
    margin-bottom: 10px;
}

.Home {
    background-color: #E5E5E5;
    /* height: 100vh; */
}

.Introduction {
    width : 33%;
    /* margin: 150px; */
    position: relative;
    top: 250px;
    left: 150px;
}

.NamePre {
    font-size: 20px;
    font-weight: 600;
    color: #141414;
    /* margin: -20px 0; */
}

.Name {
    font-size: 80px;
    color: #FF4500;
    font-weight: bold;
}

.ShortDescription {
    color: #FF4500;
    font-size: 35px;
    font-weight: 650;
}

.LongDescription{
    color : #FE4400;
    width: 70%;
    text-align: left;
    font-size: 20px;
}

.HomeAnimation {
    width: 250px;
    position: relative;
    left: 70%;
}

.TextBackground {
    z-index: 0;
    font-size: 350px;
    font-weight: bolder;
    color: #E5E1E0;
    position: relative;
    top: 50%;
}