span {
    display: block;
    margin-bottom: 10px;
}

.Home {
    background-color: #121212;
    height: 100vh;
}

.Introduction {
    width : 33%;
    /* margin: 150px; */
    position: relative;
    top: 250px;
    left: 150px;
}

.NamePre {
    font-size: 20px;
    font-weight: 600;
    color: #FFF;
    opacity: 38%;
    /* margin: -20px 0; */
}

.Name {
    font-size: 80px;
    color: #FFf;
    opacity: 87%;
    font-weight: bold;
}

.ShortDescription {
    color: #FF4500;
    opacity: 60%;
    font-size: 35px;
    font-weight: 650;
}

.LongDescription{
    color : #FFF;
    width: 70%;
    opacity: 60%;
    text-align: left;
    font-size: 20px;
}

.HomeAnimation {
    max-width: 700px;
    min-width: 200px;
    width: 40%;
    position: absolute;
    bottom: 15%;
    left: 60%;
}

.TextBackground {
    z-index: 0;
    font-size: 350px;
    font-weight: bolder;
    color: #E5E1E0;
    position: relative;
    top: 50%;
}