.Contact{
    height: 100vh;
    background-color: #121212;
    background-image: url(../../Assets//SVG/Asset\ 10-nobg.svg);
    background-repeat: no-repeat;
    background-position: left 85% bottom 20px;
    background-size: 550px;
}

.SectionTitle{
    color: #FF4500;
    font-weight: 600;
    font-size: 35px;
    padding-left: 150px;
    opacity: 30%;
    margin: 0;
}

.ContactText{
    text-align: center;
    margin-bottom: 50px;
    font-size: 20px;
    color: #FFF;
    opacity: 60%; 
}

.ContactButtons{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: auto;
    /* background-color: yellow; */
}

.ContactContent{
    padding: 40px;
    margin: auto;
    width: 500px;
}

.ContactAnimation{
    width: 550px;
    position: relative;
    left: 65%;
    /* top: 75%; */
    bottom: 80px;
}


