.NavBar {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    color: #FF4500;
}

.NavItems{
    float: right;
    margin-right: 50px;
}

.NavItems ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    font-size: 17px;
}