.NavBar {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    color: #FF4500;
    padding: 10px;
    background-color: #121212;
}

.NavItems{
    float: right;
    margin: 0 50px;
}

.NavLogo {
    margin: 10px;
    width: 60px;

}

.NavItems ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    font-size: 15px;
    margin-top: 10px;
    list-style: none;
}

.Resume{
    color: white;
    font-weight: 800;
}