.NavBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    color: #FF4500;
    padding: 10px;
    background-color: #121212;
}

.NavItems {
    float: right;
    width: 50%;
    max-width: 400px;
    min-width: 350px;
    margin: auto;
    margin-right: 45px;
}

.NavLogo {
    margin: 10px;
    width: 60px;

}

.NavHamburger {
    float: right;
    margin: 5px 10px 0 10px;
    display: none;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.NavItems ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    font-size: 15px;
    margin-top: 10px;
    list-style: none;
    cursor: pointer;
}

.Resume {
    color: #FF4500;
    font-weight: 800;
    opacity: 87%;
}

@media(max-width:480px) {
    .NavBar {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        height: 45px;
        padding: 0;
        margin-top: 0;
        margin: auto;
    }

    .NavLogo {
        width: 40px;
    }

    .NavHamburger {
        display: inline;
    }

    .NavItems {
        width: 100vw;
        height: 100vh;
        margin: auto;
        float: none;
        background-color: #919191;
        font-weight: 400;
        transition: all 0.5s ease-in;
    }

    .NavItems ul {
        font-size: 12px;
        width: 40%;
        text-align: center;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        margin: auto;
        margin-top: 50%;
        padding-left: 0;
        font-size: 25px;
    }
}