.NavBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
    color: #FF4500;
    padding: 10px;
    background-color: #121212;
}

.NavItems {
    float: right;
    width: 50%;
    max-width: 400px;
    min-width: 350px;
    margin: auto;
    margin-right: 45px;
}

.NavLogo {
    margin: 10px;
    width: 60px;

}

.NavHamburger {
    float: right;
    margin: 10px;
    margin-bottom: 0;
    display: none;
    width: 30px;
    height: 30px;
}

.NavItems ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 30px;
    font-size: 15px;
    margin-top: 10px;
    list-style: none;
    cursor: pointer;
}

.Resume {
    color: #FF4500;
    font-weight: 800;
    opacity: 87%;
}


@media(max-width:480px) {
    .NavBar {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        /* grid-gap: 5px; */
        height: 45px;
        padding: 0;
        /* width: 90%; */
        margin: auto;
    }

    .NavLogo {
        width: 40px;
        /* margin: auto; */
    }

    .NavHamburger{
        display: inline-block
    }

    .NavItems {
        /* display: none; */
        width: 100%;
        margin-right: 0;
        margin: auto;
        float: none;
        background-color: #121212;
    }

    .NavItems ul {
        font-size: 12px;
        /* grid-gap: 15px; */
        width: 0;
        /* margin-right: 10px; */
    }

    .NavItemsContainer {
        width: 75%;
        margin-right: 45px;
    }

    /* .Open{
        display: block;
    }
    
    .Close{
        display: none;
    } */
}

@media(max-width:360px) {
    .NavBar {
        grid-gap: 15px;
    }

    .NavItems ul {
        grid-gap: 15px;
    }
}

@media(max-width:330px) {
    .NavBar {
        grid-gap: 8px;
    }

    .NavItems ul {
        grid-gap: 10px;
    }
}