.SecondaryCTA {
    border: 1px solid #FF9A75;
    border-radius: 2px;
    width: 120px;
    height : 45px;
    background-color: transparent;
    margin: 10px;
    color: #FF9A75;
    opacity: 0.87;
    transition: all 0.8s ease-out;
}

.SecondaryCTA:hover{
    border: none;
    background-color: #FF9A75;
    color: #FFF;
    border-radius: 5px 25px 5px 5px;
}


@media(max-width: 1280px){
    .SecondaryCTA{
        width: 90px;
        height: 30px;
        font-size: 12px;
    }
}

@media(max-width: 480px){
    .SecondaryCTA{
        width: 75px;
        height: 30px;
        font-size: 11px;
    }
}