.Project {
    margin: 0 auto;
    padding: 110px 0;
    display: grid;
    /* width: 50%; */
    max-width: 1300px;
    /* width: 800px; */
    /* grid-gap: 20px; */
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    grid-template-rows: 1fr;
}

.ProjectImage {
    width: 80%;
    max-width: 720px;
    /* height: 300px; */
    margin: auto;
    margin-bottom: 30px;
    /* box-shadow: drop-shadow(10px 10px 10px #333333); */
}

.ProjectDetails {
    width: 80%;
    max-width: 512px;
    margin: 15px auto;

}

.ProjectName {
    color: #FFF;
    opacity: 87%;
    font-size: 35px;
    font-weight: 600;
}

.ProjectDescription, .ProjectTechnologies{
    /* width: 100px; */
    color: #FFF;
    opacity: 60%;
    text-align: left;
    font-size: 18px;
}

.ProjectTechnologies{
    /* width: 100px; */
    margin-top: 15px;
    font-weight: 500;
    opacity: 87%;
}

.ProjectCTAs{
    outline: none;
    /* width: 100px; */
}


@media (max-width: 1280px) {
    .Project {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        padding: 70px 0;
    }

    .ProjectImage{
        width: 70%;
        margin: auto;
    }

    .ProjectDetails{
        width: 80%;
    }

    .ProjectName{
        font-size: 28px;
    }


}

@media (max-width: 800px) {
    .Project{
        grid-template-columns:repeat(auto-fill, minmax(350px, 1fr));
        padding: 50px 0;
    }

    .ProjectName{
        font-size: 22px;
    }

    .ProjectImage{
        width: 50%;
        margin: auto;
    }

    .ProjectDetails{
        width: 90%;
        text-align: center;
    }

    .ProjectDescription, .ProjectTechnologies{
        font-size: 15px;
        /* text-align: center; */
    }
}

@media (max-width: 480px){
    .ProjectDetails{
        text-align: center;
        margin-top: 30px;
    }

    .ProjectDescription, .ProjectTechnologies{
        text-align: center;
        font-size: 14px;
    }

    .ProjectName{
        font-size: 20px;
    }
}

@media (max-width: 360px){
    .ProjectDetails{
        width: 65%;
        /* margin: auto; */
    }

    .ProjectDescription, .ProjectTechnologies{
        text-align: center;
        font-size: 12px;
    }
}