.Project {
    margin: 0 auto;
    padding: 110px 0;
    display: grid;
    max-width: 1800px;
    /* width: 800px; */
    /* grid-gap: 20px; */
    grid-template-columns: repeat(auto-fill, minmax(800px, 1fr));
    grid-template-rows: 1fr;
}

.ProjectImage {
    width: 50%;
    max-width: 720px;
    /* height: 300px; */
    margin: auto;
    margin-bottom: 30px;
    box-shadow: drop-shadow(10px 10px 10px #333333);
}

.ProjectDetails {
    width: 60%;
    max-width: 512px;
    margin: 15px auto;

}

.ProjectName {
    color: #FFF;
    opacity: 87%;
    font-size: 35px;
    font-weight: 600;
}

.ProjectDescription, .ProjectTechnologies{
    /* width: 100px; */
    color: #FFF;
    opacity: 60%;
    text-align: left;
    font-size: 18px;
}

.ProjectTechnologies{
    /* width: 100px; */
    margin-top: 15px;
    font-weight: 500;
    opacity: 87%;
}

.ProjectCTAs{
    outline: none;
    /* width: 100px; */
}