.Project {
    margin: 0 auto;
    padding: 120px;
    display: grid;
    /* grid-gap: 20px; */
    grid-template-columns: 1fr 1fr;
}

.ProjectImage {
    width: 720px;
    /* height: 300px; */
    margin: auto;
}

.ProjectDetails {
    width: 512px;
    margin: 0 auto;

}

.ProjectName {
    color: #FFF;
    opacity: 87%;
    font-size: 35px;
    font-weight: 600;
}

.ProjectDescription {
    color: #FFF;
    opacity: 60%;
    text-align: left;
    font-size: 18px;
}

.ProjectCTAs{
    outline: none;
}