.Footer {
    height: 12vh;
    background-color: #1F1F1F;
}

.FooterText {
    /* display: block; */
    width: fit-content;
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    color: #FFF;
    opacity: 60%;
    padding-top: 40px;
}

@media(max-width:720px){
    .Footer{
        height: 8vh;

    }

    .FooterText{
        font-size: 13px;
        padding-top: 15px;
    }
}