.SocialLink{
    width: 35px;
    height: 35px;
    /* background-color: bisque; */
    margin-right: 20px;
}

@media(max-width:1280px){
    .SocialLink{
        width: 30px;
        height: 30px;
    }
}

@media(max-width:480px){
    .SocialLink{
        width: 25px;
        height: 25px;
    }
}